body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url(images/logo1.gif);
  }
  
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 2rem;
    box-sizing: border-box;
  }

  #main-content {
    margin-left: 15rem;
    padding: 2rem;
  }

  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }

  #menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
  }

  #menu a:hover {
    color: #ccc;
  }

  #find-button, #report-button {
    padding: 0.5rem 1rem;
    background-color: #632580;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
  }

  #find-button:hover, #report-button:hover {
    background-color: #0658f0;
  }

  .item {
    margin-bottom: 1rem;
  }

  .claim-button {
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .claim-button:hover {
    background-color: #218838;
  }




  /* footer */

  .home-sci{
    bottom: 0rem;
    width: 170px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 43rem;
    
  }


  /* hover */
  .home-sci a{
    padding-left: 0rem;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    border-spacing: 1rem;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: .2rem solid rgb(68, 6, 83);
    border-radius: 50%;
    font-size: 20px;
    color:white;
    z-index: 1;
    transition: 0.3s;
  }
  .home-sci a:hover{
    color: rgb(64, 52, 75);
  }
  .home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    border-radius: 50%;
    width: 0;
    height: 100%;
    background: #cba3f5;
    z-index: -1;
    transition: .4s;
  }
  .home-sci a:hover::before{
    width: 100%;
  }

